Faker
flask
graphql-core==2.2.1
Flask-Web-Log
graphene==2.1.8
Flask-GraphQL
Flask-SQLAlchemy
Flask-GraphQL-Auth
Flask-Restful
graphene
graphene-sqlalchemy
SQLAlchemy
flask-cors
flask-bcrypt
flask-migrate
flask-mail
itsdangerous
graphene-file-upload
psycopg2
psycopg2-binary
requests
gunicorn